In [33]:
from surprise import SVD,KNNBasic
from surprise import Dataset
# from surprise import evaluate, print_perf
from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader
import pandas as pd

import os

In [4]:
data = Dataset.load_builtin('ml-100k')

In [8]:
data

In [16]:
# algo = SVD()
# cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

In [9]:
trainset, testset = train_test_split(data, test_size=.25)

In [10]:
trainset

In [14]:
algo = SVD()

algo.fit(trainset)
predictions = algo.test(testset)

accuracy.rmse(predictions)

RMSE: 0.9449

0.9449142465246758

In [15]:
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid, r_ui=4, verbose=True)#todo r_ui ???

user: 196        item: 302        r_ui = 4.00   est = 4.02   {'was_impossible': False}

In [26]:
file_path = os.path.expanduser('~/.surprise_data/ml-100k/ml-100k/u.data')
file_path

'/Users/Tommy/.surprise_data/ml-100k/ml-100k/u.data'

In [27]:
reader = Reader(line_format='user item rating timestamp', sep='\t')
reader

In [28]:
data = Dataset.load_from_file(file_path, reader=reader)

In [29]:
data

In [34]:
ratings_dict = {'itemID': [1, 1, 1, 2, 2],
                'userID': [9, 32, 2, 45, 'user_foo'],
                'rating': [3, 2, 4, 3, 1]}

df = pd.DataFrame(ratings_dict)

In [35]:
df

   itemID    userID  rating
0       1         9       3
1       1        32       2
2       1         2       4
3       2        45       3
4       2  user_foo       1

In [36]:
reader = Reader(rating_scale=(1, 5)) # todo ??rating_scale

In [37]:
data = Dataset.load_from_df(df[['userID', 'itemID', 'rating']], reader)

In [38]:
data