# Web Scraping

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

## https://www.basketball-reference.com/leagues/NBA_2020_per_game.html

In [48]:
def get_players_stats():
    year = 2020
    url = "https://www.basketball-reference.com/leagues/NBA_2020_per_game.html"
    html = urlopen(url)
    soup = BeautifulSoup(html)
    
    #get headers
    soup.findAll('tr', limit=2)
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
    headers = headers[1:]
    
    #get rows
    rows = soup.findAll('tr')[1:]
    player_stats = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
    
    players_stats = pd.DataFrame(player_stats, columns = headers)
    return players_stats

In [49]:
players_stats = get_players_stats()

In [50]:
players_stats.shape

(649, 29)

In [51]:
players_stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,C,26,OKC,58,58,27.0,4.5,7.6,.591,...,.590,3.4,6.0,9.4,2.4,0.9,1.1,1.5,1.9,10.9
1,Bam Adebayo,PF,22,MIA,65,65,34.4,6.3,11.1,.567,...,.690,2.5,8.0,10.5,5.1,1.2,1.3,2.8,2.5,16.2
2,LaMarcus Aldridge,C,34,SAS,53,53,33.1,7.4,15.0,.493,...,.827,1.9,5.5,7.4,2.4,0.7,1.6,1.4,2.4,18.9
3,Nickeil Alexander-Walker,SG,21,NOP,41,0,12.2,1.9,5.5,.339,...,.607,0.2,1.8,2.0,1.8,0.3,0.2,1.0,1.1,5.1
4,Grayson Allen,SG,24,MEM,30,0,16.6,2.6,5.9,.449,...,.857,0.2,2.0,2.2,1.4,0.2,0.0,0.8,1.2,7.4

In [8]:
def save_subgroup(dataframe, g_index, subgroup_name):
    """ save dataframe in csv """
    save_subgroup_filename = "".join([prefix, subgroup_name, ".csv.gz"])
    dataframe.to_csv(save_subgroup_filename, compression='gzip', encoding='UTF-8')

In [9]:
stats.to_csv("stats.csv.gz", compression='gzip')

## http://www.espn.com/nba/salaries

In [66]:
url = "http://www.espn.com/nba/salaries"
html = urlopen(url)
soup = BeautifulSoup(html)

In [58]:
def get_totoal_pages_num(soup):
    url = "http://www.espn.com/nba/salaries"
    totoal_pages_num = soup.select('.page-numbers')[0].text[-2:]
    print("total pages num is : %s" % totoal_pages_num )
    return totoal_pages_num

In [72]:
def get_palyer_salary(soup):
    pages = int(get_totoal_pages_num(soup))
    df =None
    arr=[]
    for page_num in range(1,pages+1):
        per_page_url =  "http://www.espn.com/nba/salaries_/page/{}".format(page_num)
        soup.findAll('tr', limit=1)
        soup.findAll('tr', limit=1)[0].findAll('td')

        #get header
        headers = [th.getText() for th in soup.findAll('tr', limit=1)[0].findAll('td')]
        
        #get row
        rows = soup.findAll('tr')[1:]
        player_stats = [[td.getText() for td in rows[i].findAll('td')]
                for i in range(len(rows))]
    
        arr.extend(player_stats)
        df = pd.DataFrame(arr, columns = headers)
    return df

In [73]:
salary = get_palyer_salary(soup)
salary.shape

total pages num is : 14

(602, 4)

In [74]:
salary.head()

  RK                   NAME                   TEAM       SALARY
0  1      Stephen Curry, PG  Golden State Warriors  $40,231,758
1  2         Chris Paul, PG  Oklahoma City Thunder  $38,506,482
2  3  Russell Westbrook, PG        Houston Rockets  $38,506,482
3  4          John Wall, PG     Washington Wizards  $38,199,000
4  5       Kevin Durant, SF          Brooklyn Nets  $38,199,000

In [30]:
stats.to_csv("salary.csv.gz", compression='gzip')